.user_main_item {
  width: 280px;
  height: 380px;
  border: 1px solid gray;
  float: left;
  margin-left: 28px;
  margin-top: 30px;
}

.items h4 {
  display: flex;
  margin-left: 20px;
  margin-top: -10px;
}

.user_main_item .brand_label {
  margin-top: 50px;
}
